
.tm-dark div.ptp-cta,
.tm-dark div.ptp-bullet-item{
	background-color: #242424 !important;
}
.tm-dark a.ptp-button{
	background-color: #111 !important;
}
.tm-dark.main-holder, 
.tm-dark .site-main {
    background-color: #222222;
}
.tm-col-bgcolor-dark .tm-col-overlay,
.tm-row-bgtype-dark .tm-bg-overlay,

.tm-dark #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	 background-color: #303030;
}

.tm-dark .vc_tta.vc_general.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading,

.tm-dark .vc_tta.vc_general.vc_tta-style-classic .vc_tta-tab.vc_active>a:hover, 
.tm-dark .vc_tta.vc_general.vc_tta-style-classic .vc_tta-tab.vc_active>a,

.tm-dark .vc_tta.vc_general.vc_tta-style-modern:not(.vc_tta-o-no-fill) .vc_tta-panel .vc_tta-panel-body,
.tm-dark .vc_tta.vc_general.vc_tta-style-classic:not(.vc_tta-o-no-fill) .vc_tta-panel .vc_tta-panel-body,

.tm-dark .vc_tta.vc_general.vc_tta-style-modern .vc_tta-tab.vc_active>a,
.tm-dark .tagcloud a,
.tm-dark .vc_general.vc_cta3.vc_cta3-color-white.vc_cta3-style-flat,
.tm-dark .tm-blogbox-featured-quote, 
.tm-dark .format-quote .entry-content blockquote,

.single-tm_team_member .tm-dark .thememount-team-data,
.tm-dark .tm-box-style-leftimage .thememount-team-data-right,
.tm-dark .tm-row-bgtype-dark .tm-box-style-leftimage .thememount-team-data-right, 
.tm-dark .tm-row-bgtype-grey .tm-box-style-leftimage .thememount-team-data-right,

.tm-dark .tm-row-bgtype-dark .tm-box-style-default .thememount-team-data, 
.tm-dark .tm-row-bgtype-grey .tm-box-style-default .thememount-team-data,
.tm-dark .tm-box-style-default .thememount-team-data,

.tm-dark .vc_tta.vc_tta-accordion.vc_tta-color-white .vc_tta-panel.vc_active .vc_tta-panel-heading, 
.tm-dark .vc_tta.vc_tta-accordion.vc_tta-color-white .vc_tta-panel.vc_active .vc_tta-panel-body,

.tm-dark .tm-timeline .tm-timeline-element-inner:hover .angle-part, 
.tm-dark .tm-timeline .tm-timeline-element-inner:hover .border-part-bottom, 
.tm-dark .tm-timeline .tm-timeline-element-inner:hover .border-part-top, 
.tm-dark .tm-timeline .tm-timeline-element-inner:hover .tm-content-wrap,

.tm-dark .vc_tta.vc_tta-accordion.vc_tta-color-white .vc_tta-panel .vc_tta-panel-heading,
.tm-dark .tm-taxonomy-term-list ul li a,

.single-tribe_events .tm-dark .tribe-events-event-meta,

.tm-dark #bbpress-forums div.odd, 
.tm-dark #bbpress-forums ul.odd,
.tm-dark #bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a,
.tm-dark #bbpress-forums div.bbp-reply-header,

.tm-dark #tribe-events-bar #tribe-bar-form,
.tm-dark #tribe-bar-form #tribe-bar-views,
.tm-dark #tribe-events-bar .tribe-bar-views-inner,
.tm-dark .tribe-events-list-separator-month span,
.tm-dark #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover,

.tm-dark .woocommerce a.remove, 
.tm-dark .woocommerce .widget_shopping_cart .cart_list li a.remove, 
.tm-dark .woocommerce.widget_shopping_cart .cart_list li a.remove{
    background-color: #1a1a1a;
}

.tm-dark .tm-timeline .tm-timeline-element-inner:hover .angle-part:after {
	border-left-color: #1a1a1a !important;
    border-right-color: #1a1a1a !important;
}



@media (min-width: 768px){	
	.tm-dark .vc_tta.vc_general.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels,
	.tm-dark .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body{
		  background-color: #111;
	}
	.tm-dark .site-main .vc_tta.vc_general.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels{
		  background-color: transparent;
	}	
	.tm-dark .tm-timeline .right-side .angle-part:before, 
	.tm-dark .tm-timeline .right-side .border-part-bottom,
	.tm-dark .tm-timeline .right-side .border-part-top,
	
	.tm-dark .tm-timeline .left-side .angle-part:before, 
	.tm-dark .tm-timeline .left-side .border-part-bottom,
	.tm-dark .tm-timeline .left-side .border-part-top {
		border-color:rgba(255, 255, 255, 0.07);
	}
}

@media (max-width: 767px){
	.tm-dark .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:focus, 
	.tm-dark .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:hover,
		
	.tm-dark .vc_tta.vc_general.vc_tta-style-modern .vc_tta-panel.vc_active .vc_tta-panel-heading,
	.tm-dark .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {	
		background-color: #111;
	}
	.tm-dark .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {
		border-color: rgba(236, 236, 236, 0.20);	
	}
	.tm-dark .vc_tta.vc_general.vc_tta-style-modern .vc_tta-panel.vc_active .vc_tta-panel-title>a{
		color: #fff;
	}	
}
.tm-dark .vc_progress_bar .vc_single_bar{
    background-color: #111 !important;
}

/****** White Text Color ******/

.tm-dark .sidebar .search_field input[type="text"],

.tm-dark .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a,
.tm-dark .vc_general.vc_btn3.vc_btn3-style-text.vc_btn3-color-skincolor:hover,

.tm-dark .vc_general.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title > a,

.tm-dark .vc_general.vc_tta-style-flat.vc_tta-color-skincolor .vc_tta-tab>a,
.tm-dark .vc_tta-style-modern.vc_general .vc_tta-tabs-list .vc_tta-tab>a,
.tm-dark .vc_tta-style-classic.vc_general .vc_tta-tabs-list .vc_tta-tab>a,
.tm-dark .vc_general.vc_cta3.vc_cta3-color-white.vc_cta3-style-flat .vc_cta3-content-header,
.tm-dark .site-main .widget_shopping_cart_content a.button:not(.checkout):hover,
.tm-dark .tm-blogbox-featured-quote, 
.tm-dark .format-quote .entry-content blockquote,
.tm-dark .vc_toggle_default .vc_toggle_title > h4:after,
.tm-dark .thememount-twitterbar i,
.tm-dark span.tm-pf-left-details,

.tm-dark .site-main .tm-box-style-leftimage .thememount-team-box .thememount-team-phoneemail a,
.tm-dark .site-main .tm-box-style-leftimage .thememount-team-title a,
.tm-dark .site-main .tm-box-style-default .thememount-team-box .thememount-team-title a,


.tm-dark .site-main .vc_row .tm-fld-contents span,

.tm-dark .vc_tta-color-white.vc_tta-style-classic.vc_tta-shape-square.vc_tta-o-no-fill .vc_tta-tab > a,

.single-product .tm-dark .summary .product_meta .sku_wrapper, 
.single-product .tm-dark .summary .product_meta .posted_in, 
.tm-dark .single-product .summary .product_meta .posted_in, 
.single-product .tm-dark .summary .product_meta .tagged_as,

.tm-dark .woocommerce div.product .product_title, 
.tm-dark .woocommerce #content div.product .product_title, 
.woocommerce-page .tm-dark div.product .product_title, 
.woocommerce-page .tm-dark #content div.product .product_title,

.tm-dark .comment-body .tm-fn a,

.tm-dark .tm-timeline .tm-content-wrap .tm-title a, 
.tm-dark .thememount-post-wrapper .entry-title a,

.tm-dark .site-header .thememount-topbar:hover a.tm-full-bt,

.single-tribe_events .tm-dark #tribe-events-content .tribe-events-event-meta dt,
.tm-dark #bbpress-forums fieldset.bbp-form legend,
.tm-dark #bbpress-forums a.bbp-topic-permalink,
.tm-dark #content #bbpress-forums .status-closed, 
.tm-dark #content #bbpress-forums .status-closed a,
.tm-dark #bbpress-forums li.bbp-footer .bbp-reply-author,
.tm-dark #bbpress-forums li.bbp-footer .bbp-reply-content,

.tm-dark .portfolio-sortable-list ul li a,
.tm-dark .thememount-post-readmore a:hover, 
.tm-dark .site-main .thememount-short-desc .thememount-post-readmore a:hover,
.tm-dark .item-content h4 a,
.tm-dark .vc_toggle_default.vc_toggle_size_lg .vc_toggle_title > h4:after,
.tm-dark .post-box .post-item  .item-content h4 a,
.tm-dark .thememount-testimonial-title a,
.tm-dark .vc_progress_bar .vc_single_bar .vc_label_units,
.tm-dark .tm-top-info-con h6{
	color: #fff;
}

.tm-dark .vc_tta-style-modern.vc_general.vc_tta-color-grey .vc_tta-tab:not(.vc_active)>a,
.tm-dark .vc_tta-style-modern.vc_general.vc_tta-color-white .vc_tta-tabs-list .vc_tta-tab:not(.vc_active)>a{
	color: #111;
}
.tm-dark .tm-timeline .tm-timeline-spine{
	background-color: rgba(255, 255, 255, 0.07);
}
.tm-dark .inside h3:before { 
	background-color: rgba(255, 255, 255, 0.54)
}
.tm-dark .woocommerce .wc-proceed-to-checkout .checkout-button.button:hover,
.woocommerce-page .tm-dark #content input.button[name="apply_coupon"]:hover,
.woocommerce-page .tm-dark .site-main #content input.button[name="apply_coupon"]:hover {
	 border-color: #fff;
	 color: #fff;
}

/****** White color with opacity ******/
.tm-dark .site-main .tm-box-style-leftimage .thememount-team-short-desc,
.tm-dark .site-main .postcontent .thememount-meta-details, 
.tm-dark .site-main .postcontent .thememount-meta-details span, 
.tm-dark .site-main .postcontent .thememount-meta-details a, 
.tm-dark .site-main .post-box .thememount-meta-details, 
.tm-dark .site-main .post-box .thememount-meta-details span, 
.tm-dark .site-main .post-box .item-content .thememount-meta-details a,
.tm-dark .tm-top-info-con span{
	color: rgba(255, 255, 255, 0.50);
}

/****** Border Top Color ******/
.tm-dark .vc_tta-color-white.vc_tta.vc_tta-tabs.vc_tta-style-classic.vc_tta-shape-square.vc_tta-o-no-fill:not(.vc_tta-tabs-position-left) .vc_tta-panels:before,
.tm-dark .vc_tta-color-white.vc_tta.vc_tta-tabs.vc_tta-style-classic.vc_tta-shape-square.vc_tta-o-no-fill:not(.vc_tta-tabs-position-left) .vc_tta-panels{
	border-top-color: rgba(236, 236, 236, 0.20);
}
/****** Border Left Color ******/
.tm-dark .vc_tta-color-white.vc_tta.vc_tta-tabs.vc_tta-style-classic.vc_tta-shape-square.vc_tta-o-no-fill.vc_tta-tabs-position-left .vc_tta-panels{
	border-left-color: rgba(236, 236, 236, 0.20);
}


/****** Border Color ******/
.tm-dark .portfolio-meta-details,
.tm-dark .tm-taxonomy-right .tm-term-desc,
.tm-dark .sidebar .search_field,
.tm-dark .tm-blogbox-featured-quote, 
.tm-dark .format-quote .entry-content blockquote,

.tm-dark .thememount-twitterbar i,
.tm-dark  .tm-social-share-w,
.tm-dark  ul.thememount-portfolio-details-list li,
.tm-dark  .tm-pf-description-title-w .thememount-portfolio-likes-wrapper,

.single-tm_team_member .tm-dark  .thememount-team-data,
.tm-dark .tm-box-style-leftimage .thememount-team-data-right,
.tm-dark .tm-row-bgtype-dark .tm-box-style-default .thememount-team-data, 
.tm-dark .tm-row-bgtype-grey .tm-box-style-default .thememount-team-data,
.tm-dark .tm-box-style-default .thememount-team-data,
.tm-dark .tm-box-style-leftimage .thememount-team-social-links ul li a,

.tm-dark .vc_separator.vc_sep_color_grey .vc_sep_line,


.tm-dark .vc_tta.vc_tta-accordion.vc_tta-color-white .vc_tta-panel .vc_tta-panel-heading, 
.tm-dark .vc_tta.vc_tta-accordion.vc_tta-color-white .vc_tta-panel .vc_tta-panel-body, 
.tm-dark .vc_tta.vc_tta-accordion.vc_tta-color-white .vc_tta-panel .vc_tta-panel-body:after, 
.tm-dark .vc_tta.vc_tta-accordion.vc_tta-color-white .vc_tta-panel .vc_tta-panel-body:before,

.tm-dark .vc_tta.vc_tta-accordion.vc_tta-color-white .vc_tta-panel .vc_tta-panel-heading,
.tm-dark .vc_tta-color-white.vc_tta.vc_tta-tabs.vc_tta-style-classic.vc_tta-shape-square.vc_tta-o-no-fill:not(.vc_tta-tabs-position-left) .vc_tta-tab:after,


.tm-dark .vc_tta-color-white.vc_tta.vc_tta-tabs.vc_tta-style-classic.vc_tta-shape-square.vc_tta-o-no-fill.vc_tta-tabs-position-left .vc_tta-panels:before,

.tm-dark .vc_tta-color-white.vc_tta-style-classic.vc_tta-shape-square.vc_tta-o-no-fill .vc_tta-tab.vc_active > a, 
.tm-dark .vc_tta-color-white.vc_tta-style-classic.vc_tta-shape-square.vc_tta-o-no-fill .vc_tta-tab > a,


/* woocommerce */
.tm-dark .widget_shopping_cart_content a.button:not(.checkout):hover,

.tm-dark .site-main .site-main-inner ul.products li.product .productbox,
.tm-dark .site-main .site-main-inner #reviews #comments ol.commentlist li .comment-text,

.tm-dark .woocommerce div.product .woocommerce-tabs ul.tabs li.active, 
.woocommerce-page .tm-dark div.product .woocommerce-tabs ul.tabs li.active, 
.tm-dark .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, 
.woocommerce-page .tm-dark #content div.product .woocommerce-tabs ul.tabs li.active,

.tm-dark .site-main .site-main-inner div.product .woocommerce-tabs ul.tabs:before,

.tm-dark .woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce-page .tm-dark nav.woocommerce-pagination ul li a, 
.tm-dark .woocommerce #content nav.woocommerce-pagination ul li a, 
.woocommerce-page .tm-dark #content nav.woocommerce-pagination ul li a,
.tm-dark .woocommerce table.shop_table td,
.tm-dark .woocommerce table.shop_table tbody th, 
.tm-dark .woocommerce table.shop_table tfoot td, 
.tm-dark .woocommerce table.shop_table tfoot th,
.tm-dark .woocommerce nav.woocommerce-pagination ul, 
.woocommerce-page .tm-dark  nav.woocommerce-pagination ul, 
.tm-dark .woocommerce #content nav.woocommerce-pagination ul, 
.woocommerce-page .tm-dark  #content nav.woocommerce-pagination ul,
.tm-dark .woocommerce div.product .woocommerce-tabs .panel, 
.woocommerce-page .tm-dark div.product .woocommerce-tabs .panel, 
.tm-dark .woocommerce #content div.product .woocommerce-tabs .panel, 
.woocommerce-page .tm-dark #content div.product .woocommerce-tabs .panel,
.tm-dark .woocommerce ul.products li.product .productbox,


.tm-dark .widget_calendar table, 
.tm-dark .widget_calendar th, 
.tm-dark .widget_calendar td,

body .tm-dark .widget.widget_product_categories li, 
body .tm-dark .widget.widget_layered_nav li, 
.tm-dark .widget_display_forums li, 
.tm-dark .widget_display_topics li, 
.tm-dark .widget_recent_entries li, 
.tm-dark .widget_archive li, 
.tm-dark .widget_categories li, 
.tm-dark .widget_meta li, 
.tm-dark .widget_pages li, 
.tm-dark .widget_nav_menu li, 
.tm-dark .widget_recent_comments li,

.tm-dark .tm-appo-form.tm-appo-form-new .field-group textarea, 
.tm-dark .tm-appo-form.tm-appo-form-new .field-group input[type="text"], 
.tm-dark .tm-appo-form.tm-appo-form-new .field-group input[type="email"],

.tm-dark textarea, 
.tm-dark input[type="text"], 
.tm-dark input[type="password"], 
.tm-dark input[type="datetime"], 
.tm-dark input[type="datetime-local"], 
.tm-dark input[type="date"], 
.tm-dark input[type="month"], 
.tm-dark input[type="time"], 
.tm-dark input[type="week"], 
.tm-dark input[type="number"], 
.tm-dark input[type="email"], 
.tm-dark input[type="url"], 
.tm-dark input[type="search"], 
.tm-dark input[type="tel"], 
.tm-dark input[type="color"], 
.tm-dark .uneditable-input, 
.tm-dark select,

.tm-dark .vc_toggle.vc_toggle_default,
.tm-dark .tm-blogbox-footer-meta,

.single-tribe_events .tm-dark .tribe-events-event-meta,
.tm-dark #tribe-events-bar #tribe-bar-form,
.tm-dark #tribe-bar-form #tribe-bar-views+.tribe-bar-filters,
.tm-dark #tribe-bar-views .tribe-bar-views-list,
.tm-dark .tribe-events-list-separator-month:after,
.events-list .tm-dark #tribe-events-footer,
.events-list #tribe-bar-views.tribe-bar-views-open ul.tribe-bar-views-list li.tribe-bar-views-option:last-child,
.tm-dark .wp-editor-container,

.tm-dark .site-main .tm-row-bgtype-skin .post-box .thememount-blogbox-desc .tm-blogbox-footer-meta, 
.tm-dark .site-main .tm-row-bgtype-dark .post-box .thememount-blogbox-desc .tm-blogbox-footer-meta,

.tm-dark .comment-list > li, 
.tm-dark .comment-list .children > li,

.tm-dark .tm-top-info-con .icon,

.tm-dark #bbpress-forums ul.bbp-lead-topic,
.tm-dark #bbpress-forums fieldset.bbp-form, 
.tm-dark #bbpress-forums ul.bbp-topics, 
.tm-dark #bbpress-forums ul.bbp-forums, 
.tm-dark #bbpress-forums ul.bbp-replies, 
.tm-dark #bbpress-forums ul.bbp-search-results,
.tm-dark #bbpress-forums li.bbp-body ul.forum, 
.tm-dark #bbpress-forums li.bbp-body ul.topic,
.tm-dark #bbpress-forums li.bbp-header, 
.tm-dark #bbpress-forums li.bbp-footer {
	 border-color: rgba(236, 236, 236, 0.20);
}

.tm-dark .thememount-team-social-links ul li a{
	border-color: rgba(255, 255, 255, 0.41);
}

.tm-dark div.ptp-bullet-item,
.tm-dark div.ptp-item-container{
	 border-color: rgba(236, 236, 236, 0.20) !important;
}


/****** Border Without Opacity Color ******/
.tm-dark .vc_tta.vc_general.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading,
.tm-dark .vc_tta.vc_general.vc_tta-style-modern .vc_tta-panel.vc_active .vc_tta-panel-heading,
.tm-dark .vc_tta.vc_general.vc_tta-style-modern:not(.vc_tta-o-no-fill) .vc_tta-panel .vc_tta-panel-body,
.tm-dark .vc_tta.vc_general.vc_tta-style-classic:not(.vc_tta-o-no-fill) .vc_tta-panel .vc_tta-panel-body,

.tm-dark .vc_tta-style-classic.vc_general .vc_tta-tab.vc_active>a,
.tm-dark .vc_tta-style-classic.vc_general .vc_tta-tab>a,

.tm-dark .vc_tta-style-modern.vc_general .vc_tta-tab.vc_active>a,
.tm-dark .vc_tta-style-modern.vc_general .vc_tta-tab>a{
	border-color: rgb(95, 95, 95);
}




/****** White border with opacity color ******/
.tm-dark .tm-appo-form.tm-appo-form-new .field-group textarea:focus, 
.tm-dark .tm-appo-form.tm-appo-form-new .field-group input[type="text"]:focus, 
.tm-dark .tm-appo-form.tm-appo-form-new .field-group input[type="email"]:focus{
	 border-color: rgba(236, 236, 236, 0.40);
}

.tm-dark div.ptp-bullet-item{
    color: #aaaaaa !important;
}
.tm-dark .thememount-testimonial-data .contarea .tm-quote {
    opacity: 0.05;
}
.tm-dark .tm-appo-form.tm-appo-form-new .field-group textarea, 
.tm-appo-form.tm-appo-form-new .field-group input[type="text"], 
.tm-dark .tm-appo-form.tm-appo-form-new .field-group input[type="email"],

.tm-dark #bbpress-forums div.even,
.tm-dark #bbpress-forums ul.even
 {   
    background-color: #383838;
}

.tm-dark .woocommerce .site-main #review_form #respond .form-submit input, 
.woocommerce-page .tm-dark .site-main #content input.button[name="apply_coupon"], 
.tm-dark .site-main .site-main-inner .widget_shopping_cart_content a.button:not(.checkout), 
.tm-dark .woocommerce #respond input#submit, .woocommerce a.button, 
.tm-dark .woocommerce button.button, .woocommerce input.button, 
.woocommerce-page .tm-dark #content input.button[name="apply_coupon"], 
.tm-dark .woocommerce #content input.button[name="apply_coupon"] {
    background-color: #777777;
}
.tm-dark  span.edit-link a,
.tm-dark .woocommerce .woocommerce-info a, 
.tm-dark .woocommerce-page .woocommerce-info a{
	color: #333;
}
.tm-dark .site-main .widget_shopping_cart_content a.button:not(.checkout):hover,
.tm-dark .vc_tta-color-white.vc_tta-style-classic.vc_tta-shape-square.vc_tta-o-no-fill .vc_tta-tab > a,
.tm-dark .post-navigation{
	background-color: transparent;
}
.tm-dark .vc_tta-style-modern.vc_tta-tabs.vc_tta-o-no-fill .vc_tta-panels .vc_tta-panel-body{
    background-image: none;
}
.single-tm_team_member .tm-dark .thememount-team-phoneemail,
.tm-dark .tm-timeline .tm-anchor-point, 
.tm-dark .tm-timeline .tm-content-wrap {
	border-color: rgba(255, 255, 255, 0.07);
}

@media (min-width: 1200px) {

.thememount-header-style-3 .tm-dark .w-search-input input {
    background-color: rgba(0, 0, 0, 0.31); 
}
.thememount-header-style-6 .tm-dark:not(.tm-header-overlay) #navbar {
    background-color: #1a1a1a;
}
}




